statemachine/leave-workflow.asl.json
{
  "QueryLanguage": "JSONata",
  "StartAt": "SendApprovalEmail",
  "States": {
    "SendApprovalEmail": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "TimeoutSeconds": 259200,
      "Arguments": {
        "FunctionName": "send-approval-email-souvik",
        "Payload": {
          "taskToken": "{% $states.context.Task.Token %}",
          "leaveRequest": "{% $states.input %}"
        }
      },
      "Catch": [
        {
          "ErrorEquals": ["States.Timeout"],
          "Next": "NotifyTimeout"
        }
      ],
      "Next": "DecisionChoice"
    },

    "DecisionChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $states.input.decision = 'APPROVED' %}",
          "Next": "NotifyApproved"
        },
        {
          "Condition": "{% $states.input.decision = 'REJECTED' %}",
          "Next": "NotifyRejected"
        }
      ],
      "Default": "NotifyTimeout"
    },

    "NotifyApproved": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "notify-user-souvik",
        "Payload": {
          "status": "APPROVED",
          "data": "{% $states.context.Execution.Input %}"
        }
      },
      "End": true
    },

    "NotifyRejected": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "notify-user-souvik",
        "Payload": {
          "status": "REJECTED",
          "data": "{% $states.context.Execution.Input %}"
        }
      },
      "End": true
    },

    "NotifyTimeout": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "notify-user-souvik",
        "Payload": {
          "status": "TIMED_OUT",
          "data": "{% $states.context.Execution.Input %}"
        }
      },
      "End": true
    }
  }
}
